@use "./core" as *;
@use "./typography" as typography;
@use "@material/theme" as *;
@use "material-components-web";
@use "@material/top-app-bar";
@use "@material/icon-button";
@use "@material/drawer";

//  ! Headers

.mdc-top-app-bar {
  @include top-app-bar.fill-color(transparent);
  &__row {
    height: $top-app-bar-height;
  }
  &__section--align-start {
    padding-inline-start: 2em;
    flex: 1;
  }
  &__section--align-end {
    padding-inline-end: 2em;
    flex: 3;
    justify-content: space-between;
    @media (max-width: $sm-breackpoint) {
      // TODO mixin for flex
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }
}
.mdc-top-app-bar--fixed-adjust {
  padding-top: $top-app-bar-height;
}

// ! Filtration

.filtration {
  padding-inline: 2em;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 1;
  background-color: $primary-bg;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: $md-breackpoint) {
    height: 240px;
  }
  .mdc-top-app-bar__title {
    min-width: 140px;
    @media (max-width: $md-breackpoint) {
      display: none;
    }
  }
  &__content {
    padding-inline: 1em 2em;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    background: $light-gray;
    // TODO add variable for border-radius
    border-radius: $primary-boreder-radius;
    @media (max-width: $md-breackpoint) {
      height: 240px;
      align-items: flex-start;
      flex-direction: column;
      padding-block: 1em;
    }
  }
  label[for="datepicker"],
  label[for="category"] {
    @include typography.filtration-labels;
  }
}

// ! Navigation Drawer

.mdc-drawer {
  width: 100%;
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__content--align-start {
    flex: 1;
    @media (max-width: $sm-breackpoint) {
      display: none;
    }
  }
  &__content--align-end {
    flex: 3;
    & .mdc-top-app-bar__section--align-end {
      justify-content: space-between;
    }
    & .mdc-list {
      padding-top: 5em;
    }
    & .mdc-list-item {
      font-size: 70px;
      height: 100px;
      align-items: center;

      &:not(.mdc-list-item--activated):hover::before {
        content: "\2014"; /* Em dash */
      }
      &:hover .mdc-list-item__ripple::before,
      &.mdc-list-item--activated .mdc-list-item__ripple::before {
        background-color: transparent;
      }
      &.mdc-list-item.mdc-list-item--activated {
        color: $primary;
      }
    }
  }
  &__logout-button {
    position: absolute;
    inset: auto auto 3em 3em;
  }
}

// ! Expenses

.expenses-box {
  min-height: 100vh;
  .expenses-box-header {
    margin-block: 7em;
    &__title {
      @include typography.section-title;
    }
    &__text {
      @include typography.section-text;
    }
  }
  .mdc-list-group {
    margin-inline: auto;
    max-width: 830px;

    &__subheader {
      color: $gray;
    }

    .mdc-list-item {
      height: 106px;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      border-radius: $primary-boreder-radius;
      margin-block: 1.5em;
      padding-inline: 2em;
      box-shadow: $primary-shadow;

      &__title {
        @include typography.expenses-list-item;
      }
      &__price::before {
        content: "-";
      }
      &__label::before {
        content: "\2014\0020";
      }

      & > *:not(&__title, &__label) {
        color: $gray;
      }
    }
  }
}

// ! Summary

.summary-box {
  background-color: $secondary-bg;
  box-shadow: 0 0 0 100vmax $secondary-bg;
  clip-path: inset(0 -100vmax);
  margin-top: 5em;
  position: relative;
  min-height: 100vh;
  .summary-box-header {
    padding-inline-end: 4em;
    &__title {
      @include typography.section-title;
    }
    &__subheader {
      @include typography.section-subheader;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding-top: 8em;
    color: $secondary;
    @media (max-width: $md-breackpoint) {
      flex-direction: column;
    }

    .mdc-list-group {
      counter-reset: my-counter;
      flex: 1;
      & .mdc-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.4em;
        counter-increment: my-counter;
        &__text {
          margin-inline: 1em auto;
        }
        &__price::before {
          content: "-";
        }
      }
      & li::before {
        font-size: 12px;
        content: "0" counter(my-counter) ".";
      }
    }
  }
}
